{%- style -%}
    .military-background--{{ section.id }} {
      height:60vh;
      width:100vw;
      position:relative;
      overflow:visible;
      padding-bottom:850px;
    }


    .shopify-section:has(.military-background--{{ section.id }})  {
      background-color: {{section.settings.background}};

    }
    .shopify-section:has(.military-background--{{ section.id }}) .af-text {
      color: {{section.settings.fontcolor}};
    }
    .shopify-section:has(.military-background--{{ section.id }}) .af-text .btn {
      color: {{section.settings.fontcolor}};
      border-color:  {{section.settings.fontcolor}};
    }

    .af-text .kicker { margin: 0 0 10px;}
    .af-text h2 { margin: 0 0 15px}

    @media only screen and (min-width: 590px){
        .military-background--{{ section.id }}  .animation-contents {
          margin-bottom:0;
        }
        .military-background--{{ section.id }} .hero__title .animation-contents{
          text-transform: uppercase;
          font-size: 20px;
          margin-bottom:0;
        }

    }

    @media only screen and (min-width: 769px){
        .military-background--{{ section.id }} {
            /* padding-bottom:850px; */
        }
    }

  .shopify-section:has(.military-background--{{ section.id }}) .text-center {
    margin-top:400px;
  }


    .hero-wrap {
      width: 95vw;
      margin:0 auto;
      position:relative;
      z-index:2;
      top:-50px;
      overflow:hidden;
      height:550px;
      border-radius: 15px;
    }
    .hero-img img {width:100%; height: auto}

    .hero-box {
        background-color: {{ section.settings.box }};
          height:800px;
      width:100vw;
      position: absolute;
      bottom:0;
      z-index:0;
    }
{%- endstyle -%}

<div
  class="hero military-background--{{ section.id }} loaded"
  data-section-id="{{ section.id }}"
  data-aos="hero__animation"
  loading="lazy"
>
  <div class="hero__media hero__media--{{ section.id }}"></div>
  <div class="hero__text-wrap hero__text-wrap--absolute">
    <div class="page-width text-center">
      <div class="hero__text-content {{ section.settings.text_align }}">
        {%- unless section.settings.headline == blank -%}
          <div class="af-text hero__title">
            <div class="animation-cropper">
              <div class="animation-contents">
                {%- unless section.settings.kicker == blank -%}
                  <div class="af-text hero__kicker">
                    <div class="animation-cropper">
                      <div class="animation-contents">[{{ section.settings.kicker }}]</div>
                    </div>
                  </div>
                {%- endunless -%}
                <h2>{{ section.settings.headline | newline_to_br }}</h2>
              </div>
            </div>
          </div>
        {%- endunless -%}

        {%- unless section.settings.copy == blank -%}
          <div class="af-text body">
            <div class="animation-cropper">
              <div class="animation-contents">
                <p>{{ section.settings.copy | escape }}</p>
              </div>
            </div>
          </div>
        {%- endunless -%}

        {%- unless section.settings.link_text == blank -%}
          <div class="af-text hero__link">
            <div class="animation-cropper">
              <div class="animation-contents">
                <a href="{{ section.settings.link }}" class="btn btn--small btn--inverse">
                  {{ section.settings.link_text | escape }}
                </a>
              </div>
            </div>
          </div>
        {%- endunless -%}
      </div>
    </div>
  </div>
  <div class="hero-wrap">
    <div class="hero-img">
      {{ section.settings.image | image_url: width: 1500 | image_tag }}
    </div>
  </div>
  <div class="hero-box"></div>
</div>


{%- if section.settings.subtitle != blank or section.settings.title != blank or section.settings.text != blank -%}
  <div class="background-media-text__inner">
    <div class="page-width">
      <div class="background-media-text__aligner background-media-text--{{ section.settings.layout }}">
        <div class="animation-cropper">
          <div class="animation-contents">
            <div class="background-media-text__text larger-text">
              {%- if section.settings.subtitle -%}
                <p class="subtitle">{{ section.settings.subtitle }}</p>
              {%- endif -%}
              {%- if section.settings.title != blank -%}
                <h2 class="h3">{{ section.settings.title | escape }}</h2>
              {%- endif -%}
              {%- if section.settings.text != blank -%}
                <div class="rte background-media-text__subtext">{{ section.settings.text }}</div>
              {%- endif -%}
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                <a href="{{ section.settings.button_link }}" class="btn">
                  {{ section.settings.button_label }}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}


{% schema %}
{
  "name": "AF Hero 2 Column",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#111111"
    },

    {
      "type": "color",
      "id": "box",
      "label": "Box Color",
      "default": "#333"
    },
    {
      "type": "color",
      "id": "fontcolor",
      "label": "Font Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "kicker",
      "label": "Kicker",
      "default": "Your Brand Story"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Vintage Military Hero"
    },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Body Copy",
        "default": "Custom contentUse this advanced section to build your own layouts or to add custom HTML or scripts."
      },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
      {
        "type": "url",
        "id": "link",
        "label": "Section link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button text",
        "default": "Optional button"
      }
  ],
  "presets": [
    {
      "name": "AF Hero 2 Column"
    }
  ]
}
{% endschema %}
